## imported packages
importFrom("stats",
  "logLik",
  "AIC", "BIC", "deviance",
  "density", "na.omit", "runif",
  "nlm", "optim",
  "pchisq",
  "coef", "nobs", 
  "pnorm"
)
importFrom("graphics", 
  "mtext", "par", "plot", "rug"
)

## C functions
useDynLib("RWiener", 
  "dwiener_c" = "dwiener", 
  "pwiener_c" = "pwiener", 
  "pwiener_full_c" = "pwiener_full", 
  "qwiener_c" = "qwiener", 
  "qwiener_full_c" = "qwiener_full", 
  "rwiener_c" = "rwiener",
  "kappaLT",
  "kappaST",
  "sclalpha",
  "scltau",
  "sclbeta",
  "scldelta",
  "inlalpha",
  "inltau",
  "inlbeta",
  "inldelta"
)

## exported functions
export (
"dwiener",
"pwiener",
"qwiener",
"rwiener",
"print.wdm",
"logLik.wdm",
"AIC.wdm",
"BIC.wdm",
"deviance.wdm",
"wdm",
"estfun",
"estfun.wdm",
"scorefun",
"scorefun.wdm",
"infofun",
"infofun.wdm",
"is.wiener",
"as.wiener",
"revamp",
"revamp.data.wiener",
"revamp.numdata.wiener",
"wiener_likelihood",
"wiener_deviance",
"wiener_aic",
"wiener_bic",
"wiener_plot",
"anova.wdm",
"print.wlrt",
"vcov.wdm",
"waldtest",
"waldtest.wdm",
"print.wwaldt"
)

## exported s3 methods
S3method("print", "wdm")
S3method("logLik", "wdm")
S3method("AIC", "wdm")
S3method("BIC", "wdm")
S3method("deviance", "wdm")
S3method("estfun", "wdm")
S3method("scorefun", "wdm")
S3method("infofun", "wdm")
S3method("anova", "wdm")
S3method("vcov", "wdm")
S3method("plot", "data.wiener")
S3method("revamp", "data.wiener")
S3method("revamp", "numdata.wiener")
S3method("print", "wlrt")
S3method("waldtest", "wdm")
S3method("print", "wwaldt")
