useDynLib(RWiener, dwiener_c = dwiener, 
                   pwiener_c = pwiener, 
                   pwiener_full_c = pwiener_full, 
                   qwiener_c = qwiener, 
                   qwiener_full_c = qwiener_full, 
                   rwiener_c = rwiener)
export (
dwiener,
pwiener,
qwiener,
rwiener,
wiener_likelihood,
wiener_deviance,
wiener_aic,
wiener_bic,
plot.wiener,
wiener_plot,
estimate
)

S3method(plot, wiener)
